.logo-container {
  margin: 0 auto;
  padding: 6rem 1rem;
  text-align: center;
  background-color:rgb(255, 255, 255);
}

.heading-section {
  margin-bottom: 4rem;
}

.main-heading {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  background: black;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.sub-heading {
  font-size: 1.25rem;
  color: #292929;
  margin-bottom: 1rem;
}

.highlight {
  color: #4a7dfc;
  font-weight: 600;
}

.infinite-slider-wrapper {
  overflow: hidden;
  position: relative;
  padding: 15px 0;
  background: #ffffff;
}
  
  .infinite-slider {
    display: inline-block;
    white-space: nowrap;
    animation: slide-left 60s linear infinite;
  }
  
  .infinite-slider.reverse {
    animation: slide-right 60s linear infinite;
  }
  
  .slider-logo {
    height: 80px;
    margin: 0 40px;
    display: inline-block;
    vertical-align: middle;
  }
  
  @keyframes slide-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  @keyframes slide-right {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  