.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
  padding: 2rem;
}

.forgot-form {
  background: #ffffff;
  padding: 2rem 2.5rem;
  border-radius: 16px;
  border: 1px solid rgb(209, 209, 209);
  width: 100%;
  max-width: 450px;
  text-align: center;
  font-family: "Comic Relief", sans-serif;
}

.forgot-form h1 {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  color: #000000;
}

.forgot-form p {
  font-size: 1.15rem;
  color: #555;
  margin-bottom: 1.5rem;
}

.forgot-form p b{
  font-size: 0.95rem;
  color: #0077ff;
  margin-bottom: 1.5rem;
}

.forgot-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.forgot-div input {
  width: 100%;
  padding: 10px 12px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.95rem;
}

.forgot-btn {
  padding: 10px;
  font-size: 14px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.forgot-text {
  margin-top: 1.2rem;
  font-size: 0.9rem;
  color: #555;
}

.forgot-text a {
  color: #002aff;
  font-weight: 500;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@media (max-width: 480px) {
  .forgot-form {
    padding: 1.5rem;
    border-radius: 12px;
  }
}
