.job-sec-wrapper {
  min-height: 100vh;
  background-color: #ffffff;
}

.job-sec-container {
  max-width: 1400px;
  margin: 0 auto;
}

.job-sec-header {
  text-align: center;
  margin-bottom: 80px;
}

.job-sec-title {
  font-size: 45px;
  font-weight: 800;
  color: #000000;
  letter-spacing: -2px;
  margin-bottom: 12px;
}

.job-sec-subtitle {
  max-width: 1000px;
  margin: 0 auto;
  color: #414141;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
}

.job-grid-bw {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.job-card-bw {
  position: relative;
  background: #ffffff;
  border: 1px solid #bebebe;
  padding: 40px 30px;
  border-radius: 24px;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.5s ease;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 100%;
}

.job-card-bw:hover {
  transform: translateY(-10px);
}

.job-card-icon {
  width: 60px;
  height: 60px;
  background: #f5f5f7;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #000000;
  margin-bottom: 30px;
}

.job-card-title {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 15px;
}

.job-card-desc {
  font-size: 16px;
  color: #666;
  line-height: 1.7;
  margin-bottom: 30px;
}

.job-explore-btn {
  margin-top: auto;
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  padding: 12px 24px;
  border-radius: 12px;
  transition: transform 0.3s ease;
  border: 1px solid #000000;
  width: fit-content;
}

@media (max-width: 1100px) {
  .job-grid-bw {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .job-card-bw {
    margin: 0px 10px 0px 10px;
    padding: 40px 25px;
  }
}

@media (max-width: 600px) {
  .job-grid-bw {
    grid-template-columns: 1fr;
  }

  .job-card-bw:hover {
  transform: none;
  }
}