.motivation-card {
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    width: 100%;
    text-align: center;
    padding: 30px 30px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .motivation-card h1 {
    font-size: 2.9em;
    margin-bottom: 10px;
    color: #000000;
    font-weight: 700;
  }
  
  .quote {
    font-size: 1.4em;
    color: #000000;
    font-weight: 500;
    line-height: 1.5;
  }

.fade-in {
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.G-float-icon-container-motivation {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-icon-motivation {
  width: 100%;
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

  
  