.G-preparation-section {
  background-color: #ffffff;
  padding: 100px 20px;
  margin: 0 auto;
  max-width: 1750px;
}

.G-section-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.G-section-title h2 {
  margin-top: 10px;
  font-size: 3.5rem;
  font-weight: 700;
  color: #000000;
  line-height: 1.1;
}

.G-section-title p {
  font-size: 1.5rem;
  color: #000000;
  opacity: 0.85;
  margin-top: 8px;
  max-width: 1000px;
}

.cards-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 6px 22px;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
  background-color: #f0f0f0;
  box-shadow: 4px 4px 0 #000000;
  transform: translate(-4px, -4px);
  border: 1px solid #000000;
  border-radius: 4px;
  align-self: center; /* centers the button horizontally */
  margin-top: auto;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease-in-out;
  outline: none;
}

.cards-button:hover {
  background-color: #f0f0f0;
  box-shadow: 4px 4px 0 #000000;
  transform: translate(-4px, -4px);
}

.cards-button:focus-visible {
  outline: 2px dashed #000000;
  outline-offset: 2px;
}

.cards-button:active {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 0 #000000;
}

.G-preparation-grid {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.G-preparation-card {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 16px;
  padding: 30px 20px;
  color: #000000;
  transition: transform 0.3s ease;

  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  text-align: center;
  height: 100%;
  min-height: 250px;
}

.G-preparation-card:hover {
  transform: translateY(-5px);
  border-color: #000000;
}

.preparation-icon {
  font-size: 42px;
  color: #000000;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

.G-preparation-card:hover .preparation-icon {
  color: #333333;
}
.G-preparation-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.G-preparation-description {
  font-size: 1.1rem;
  color: #000000;
  line-height: 1.5;
  margin-bottom: 20px;
}

.float-icon-containerr {
  width: 120px;
  height: 120px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-icon-preperation {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .G-preparation-grid {
    grid-template-columns: 1fr;
  }
}
