.box {
  color: rgb(0, 0, 0);
  position: fixed;
  background: transparent;
  top: 30%;
  left: 0;
  height: auto;
  z-index: 1000;
  cursor: pointer; 
  width: 300px;
  transform: translateX(-99%);
  transition: transform 0.4s ease;
}

.box:hover {
  transform: translateX(0);
}

.calendar {
  width: 300px;
  height: 220px;
  background: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.calendar1,
.calendar2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.calendar2 {
  width: 42%;
  background: #000000;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px 0;
}

.calendar1 {
  width: 58%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

#date {
  font-size: 70px;
  margin-bottom: 4px;
  line-height: .8;
}

#day {
  font-size: 25px;
  font-weight: 500;
  margin-top: 0;
  line-height: 1;
}

#time {
  font-size: 22px;
  background-color: black;
  font-weight: 500;
  padding: 0px 20px;
  border-radius: 10px;
  margin-top: 6px;
  color: #ffffff;
}

#month{
  font-size: 18px;
}

#year{
  font-size: 20px;
}

.clock {
  display: flex;
  align-items: center;
  background-color: #000000;
  height: 30px;
  justify-content: center;
  color: #ffffff;
  width: 100px;
  padding: 20px;
  gap: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.label-row {
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: center;
  gap: 15px;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}