.footer-container {
    width: 1700px;
    margin: auto;
} 

.footer {
    background: white; 
    color: black;   
    padding: 30px 20px;
    position: relative;
}

.footer-bottom {
    padding-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.6); 
}

.social-links {
    display: flex;
    gap: 35px;
}

.social-link {
    color: rgb(0, 0, 0); 
    text-decoration: none;
    transition: all 0.3s;
}

.social-link:hover {
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    .footer-grid {
        grid-template-columns: 1fr;
    }
    
    .footer-bottom {
        flex-direction: column;
        gap: 20px;
    }
}

