.ai-section {
  padding: 5rem 1.5rem 1rem 1.5rem;
  max-width: 1650px;
  margin: 0 auto;
  min-height: 100vh;
  background: #ffffff;
  color: #000000;
}

.it-section-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.ai-detail {
  font-size: 1.35rem;
  line-height: 1.5;
  max-width: 1250px;
  margin: 0px auto 40px;
  text-align: center;
}

.ai-detail span {
  font-weight: 700;
  color: #0008ff;
}

.ai-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.ai-category-card {
  margin-top: 10px;
  height: 480px;
  overflow-y: auto;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 12px;
  padding: 0 1rem;
  background: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.ai-category-header {
  position: sticky;
  top: 0;
  display: flex;
  gap: 20px;
  padding: 20px 0 10px 10px;
  background: #ffffff;
  border-bottom: 1px solid #ddd;
  z-index: 1;
}

.ai-category-icon {
  font-size: 1.85rem;
  color: #0008ff;
  flex-shrink: 0;
}

.category-title {
  font-size: 1.35rem;
  font-weight: 600;
}

.tool-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tool-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgb(226, 226, 226);
  border-right: 1px solid rgb(226, 226, 226);
  border-radius: 8px;
  transition: background-color 0.25s ease;
}

.tool-item:hover,
.tool-item:focus-within {
  background-color: #000000;
}

.tool-link {
  color: #000000;
  font-weight: 500;
  text-decoration: none;
}

.tool-item:hover .tool-link,
.tool-item:focus-within .tool-link {
  color: #ffffff;
}

.external-link {
  display: flex;
  align-items: center;
}

.link-icon {
  color: blue;
  font-size: 1rem;
}

.tool-item:hover .link-icon {
  color: #ffffff;
}

@media (max-width: 600px) {
  .section-title {
    font-size: 2rem;
  }

  .category-title {
    font-size: 1.2rem;
  }
}
