.dashboard-content {
  height: 100vh;
  overflow-y: auto;  
  width: 100%;
  background: #ffffff;
}

.dashboard-container {
  display: flex;
  font-family: 'Montserrat';
  background-color: #ffffff;
}

.dashboard-sidebar {
  width: 280px;
  background-color: #000000;
  color: #ffffff;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dashboard-logo {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
}

.dashboard-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dashboard-nav-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #ffffff;
  transition: background-color 0.3s;
}

.dashboard-nav-item:hover,
.dashboard-nav-item.active {
  background-color: #333333;
}

.logout-btn {
  border: none;
  color: rgb(255, 0, 0);
  background-color: rgb(255, 255, 255);
}

.logout-btn:hover{
  background-color: white;
}

.delete-btn {
  border: none;
  background-color: red;
}

.delete-btn:hover{
  background-color: #ff0000;
}

.dashboard-user-info {
  background: transparent;
  position: relative;
  text-align: center;
  margin: 20px;
}

.username {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.user-email {
  font-size: 1.2rem;
  color: #ccc;
  margin: 2px 0;
}

.user-joined {
  font-size: 1rem;
  color: #ccc;
}

.user-joined strong {
  color: rgb(255, 255, 255);
}

.close-modal {
  margin-top: 15px;
  background: #000000;
  color: #eeeeee;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}