.todo-main-section {
  display: flex;
  flex-direction: row;
  max-width: 1400px;
  margin: 0 auto;
  gap: 2rem;
  padding: 80px 2rem 2rem;
}

.dashboard-main {
  flex: 1.5;
  width: 100%;
}

.dashboard-card {
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  border: 1px solid #cfcfcf;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

.dashboard-card h3 {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

form {
  display: flex;
  gap: 10px;
  margin: 1.5rem 0;
}

.todo-input {
  flex: 1;
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
}

.todo-add-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 0 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

.todo-list {
  list-style: none;
  padding: 0;
  max-height: 500px;
  margin: 0;
  overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.todo-list::-webkit-scrollbar {
  display: none;
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  background: #f9f9f9;
  border-radius: 12px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.todo-text { flex: 1; font-size: 1rem; }
.todo-text.completed { text-decoration: line-through; opacity: 0.5; }

.todo-complete-btn, .todo-delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.progress-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 100%;
}

.todo-counter{
  color: black;
}

.progress-fixed {
  width: 100%;          
  max-width: 450px;      
  height: auto;          
  background: #ffffff;
  padding: 25px;         
  border-radius: 20px;
}

@media (max-width: 1024px) {
  .todo-main-section {
    flex-direction: column-reverse; 
    padding-top: 100px;
  }
}

@media (max-width: 768px) {
  .dashboard-card {
    padding: 1.5rem;
  }

  form {
    flex-direction: row;
    gap: 10px;
  }

  .progress-container {
    flex-direction: column; 
    gap: 20px;
  }

  .progress-fixed {
    max-width: 100%;   
    width: 100%;
    height: auto;
    padding: 20px 15px;
  }

  .todo-add-btn {
    padding: 12px;
    display: block; 
  }
}

@media (max-width: 480px) {
  .todo-main-section {
    padding: 20px 1rem 1rem;
    overflow: hidden;
  }
  
  .dashboard-card h3 { 
    font-size: 1.3rem; 
  }

  .todo-input {
    font-size: 0.9rem;
  }

  .progress-fixed {
    padding: 15px;     
    width: 100%;
    height: auto;
  }

  .todo-add-btn {
    display: none;
  }
}