* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Montserrat';
}

body {
  background-color: white;
  color: black;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: var(--light);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE & Edge ke liye */
  scrollbar-width: none;      /* Firefox ke liye */
}

html {
  scroll-behavior: smooth;
}
