* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit",  sans-serif;
}

html {
  overflow-y: scroll; 
}

body {
  background-color: white;
  color: black;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.35);
}
