.ITs-category-section {
  max-width: 1500px;
  margin: 0rem auto;
  padding: 1rem;
  background: #fff;
  border-radius: 16px;
}

.ITs-section-title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.ITs-section-title h1 {
  font-size: 45px;
  font-weight: bold;
}

.ITs-section-title p {
  color: #4e4e4e;
  font-size: 20px;
  margin-bottom: 50px;
}

.ITs-category-filter {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.ITs-filter-button {
  background: #f0f0f0;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s, transform 0.2s;
}

.ITs-filter-button.active {
  background: #000000;
  color: white;
}

.ITs-resources-wrapper {
  height: 800px;
  margin-top: 40px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.ITs-resources-wrapper.open {
  max-height: 1000px;
}

.ITs-resources-grid {
  display: grid;
  gap: 1.5rem;
  padding: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
}

.ITs-resource-card {
  padding: 1rem;
  border-radius: 12px;
  background: #ffffff;
  border: 1px solid #ddd;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ITs-resource-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.ITs-resource-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.ITs-resource-description {
  font-size: 16px;
  color: #555;
  margin-bottom: 0.5rem;
}

.ITs-resource-link {
  font-size: 15px;
  color: #007bff;
  text-decoration: none;
}

.ITs-resource-link:hover {
  text-decoration: underline;
}

.dsa{
  background-color:#007bff;
  color: white;
}

.dsa.active{
  background-color: red;
}

.ITs-fixed-resources-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.ITdocs-header {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.ITdocs-heading {
  font-size: 2.75rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}

.ITdocs-description {
  font-size: 1.25rem;
  color: #2c2c2c;
  margin-bottom: 1.5rem;
  text-align: center;
}

