.ittop-main {
  background-color: #ffffff;
  color: #000000;
  padding: 6rem 1rem;
  max-width: 1800px;
  margin: 0 auto;
}

.itjob-container {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
  padding: 80px 20px;
}

.itsection-heading {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-top: 60px;
  color: #000000;
  position: relative;
}

.it-search-wrapper{
    display: flex;
  flex-grow: 1;
  min-width: 300px;
}

.heading-section {
  text-align: center;
}

.main-heading {
  font-size: 40px;
  font-weight: bold;
}

.highlight {
  background-color: #e5e5e5;
  color: black;
  padding: 0 10px;
}

.sub-heading {
  font-size: 18px;
  margin-top: 10px;
}

.quote {
  font-size: 1.4em;
  margin-top: 20px;
    color: #000000;
    font-weight: 500;
    line-height: 1.5;
}

.search-section {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
}

.search-input {
  padding: 12px 16px;
  width: 400px;
  border-radius: 6px;
  border: 1px solid #aaa;
  font-size: 16px;
}

.search-button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.tags-section {
  text-align: center;
  margin-top: 20px;
}

.bold {
  font-weight: bold;
}

.tag {
  font-weight: 600;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 50px;
  padding: 0 10%;
}

.stat-box {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.infinite-slider-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  background: #ffffff;
  padding: 80px 10px;
}

.infinite-slider {
  display: flex;
  width: fit-content;
  animation: slide-left 40s linear infinite;
}

.infinite-slider.reverse {
  animation: slide-right 20s linear infinite;
}

.slider-logo-wrapper {
  width: 120px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 5px;
  margin: 0 35px;
  border-radius: 8px;
}

.slider-logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.logo-phonepe,
.logo-flipkart,
.logo-microsoft,
.logo-amazon,
.logo-google,
.logo-paypal,
.logo-oracle,
.logo-atlassian {
  transform: scale(2);
  z-index: 2;
}




/* Left to right */
@keyframes slide-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Right to left */
@keyframes slide-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.it-search-input {
  width: 70%;
  padding: 1rem 1rem 1rem 2rem;
  border: 2px solid #ccc;
  margin-right: 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #111;
  background-color: #f9f9f9;
}

.it-search-input:focus {
  border-color: #000;
  outline: none;
  background-color: #fff;
}