.career-dashboard {
  background-color: #ffffff;
  padding: 100px 20px;
  margin: 0 auto;
  max-width: 1750px;
}

.float-icon-containerr {
  width: 120px;
  height: 120px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-icon-preperation {
  width: 100%;
  height: auto;
}

.dashboard-widget svg {
  font-size: 42px;
  color: #000000;
  margin-bottom: 1rem;
}

.dashboard-title {
  font-size: 3.5rem;
  margin-bottom: 10px;
  color: #000000;
}

.dashboard-subtitle {
  font-size: 1.45rem;
  color: #000000;
  margin-bottom: 40px;
}

.dashboard-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.dashboard-widget {
  background-color: #e9e9e938;
  border: 1px solid #bdbdbd;
  border-radius: 16px;
  padding: 30px 20px;
  color: #000000;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  text-align: center;
  height: 100%;
  min-height: 250px;
}

.it-preparation-icon {
  font-size: 42px;
  color: #000000;
  transition: color 0.3s ease;
}

.dashboard-widget:hover {
  transform: translateY(-4px);
}

.widget-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.widget-text {
  font-size: 1.1rem;
  color: #000000;
  line-height: 1.5;
  margin-bottom: 20px;
}

.it-section-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.it-section-title h2 {
  margin-top: 10px;
  font-size: 3rem;
  font-weight: 700;
  color: #000000;
  line-height: 1.1;
}

.it-section-title p {
  font-size: 1.25rem;
  color: #000000;
  opacity: 0.85;
  margin-top: 8px;
  max-width: 1000px;
}

.widget-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 6px 22px;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
  background-color: #f0f0f0;
  box-shadow: 4px 4px 0 #000000;
  transform: translate(-4px, -4px);
  border: 1px solid #000000;
  border-radius: 4px;
  align-self: center;
  margin-top: auto;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease-in-out;
  outline: none;
}

.widget-btn:hover {
  background-color: #f0f0f0;
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px, -4px);
}

.widget-btn:focus-visible {
  outline: 2px dashed #000;
  outline-offset: 2px;
}

.widget-btn:active {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 0 #000;
}

@media (max-width: 1200px) {
  .dashboard-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
  }
}