.jobresou-container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 80px 40px 0 40px;
  color: #000000;
  background-color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
}

.jobresources-heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 10px;
  color: #000000;
}

.resources-section {
  margin-bottom: 50px;
}

.section-heading {
  font-size: 28px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000000;
}

.jobresources-subheading {
  text-align: center;
  font-size: 22px;
  color: #675252;
  padding-bottom: 10px;
  margin-bottom: 30px;
}


.resources-section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.resources-section li {
  margin-bottom: 10px;
  line-height: 1.5;
}

.main-resources-section li {
  margin-bottom: 10px;
  font-size: 1.15rem;
  margin-left: 25px;
  line-height: 1.5;
}

.resources-section a {
  color: #000000;
  text-decoration: none;
}

.resources-section a:hover {
  text-decoration: underline;
}

.icon {
  margin-right: 8px;
  vertical-align: middle;
}

.card-jobresources {
  display: flex;
  flex-wrap: wrap;
    justify-content: center;
  gap: 20px;
}

.jobresourcescard {
  background-color: white;
  padding: 20px;
  width: calc(20% - 16px);
  border: 1px solid rgb(201, 201, 201);
  border-radius: 10px;
  transition: transform 0.2s ease;
  box-sizing: border-box;
}

.jobresourcescard:hover {
  transform: translateY(-5px);
}

.jobresourcescard h3 {
  margin-bottom: 10px;
  font-size: 1.25rem;
  color: #000000;
}

.jobresourcescard p {
  font-size: 15px;
  color: #0f0f0f;
  margin-bottom: 10px;
}

.jobresourcescard a {
  text-decoration: none;
  color: white;
  background-color: #000000;
  padding: 6px 14px;  
  margin-top: 5px;
  border-radius: 6px;
  font-size: 14px;
  display: inline-block;
}

.jobresources-features {
  padding-left: 15px;
  margin-top: 10px;
  font-size: 14px;
  color: #131313;
}

.jobresources-features li {
  margin-bottom: 5px;
}

.resume-note {
  background-color: #d7e6ff;
  border-left: 4px solid #001aff;
}

.coding-note {
  background-color: #e6ffed;
  border-left: 4px solid #00ff0d;
}

.open-source{
  border-left: 4px solid #aa00ff;
  background-color: hsl(287, 100%, 93%);
}

.note{
  margin-top: 20px;
  font-size: 18px;
  color: #101010;
  padding: 12px 16px;
  border-radius: 6px;
  line-height: 1.5;
}

.aptitude-note {
  background-color: #fff7e6;
  border-left: 4px solid #ff9d00;
}

.mock-note {
  background-color: #fdecea;
  border-left: 4px solid #ff0000;
}

.freelance-note{
  background-color: #fffad6;
  border-left: 4px solid #f2ff00;
}


@media (max-width: 1200px) {
  .jobresourcescard {
    width: calc(33.33% - 14px);
  }
}

@media (max-width: 800px) {
  .jobresourcescard {
    width: calc(50% - 10px);
  }
}

@media (max-width: 500px) {
  .jobresourcescard {
    width: 100%;
  }
}
